<%- include('../includes/head.ejs') %>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="container-product">
        <% if (prods.length > 0) { %>
            <% for (let product of prods) { %>
                <div class="container-product__item">
                    <div class="container-product__layout">
                        <h1><%= product.title %></h1>
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                        <p>Description: <%= product.description %></p>
                        <p>Price: <%= product.price %></p>
                        <a href="/admin/edit-product">Edit</a>
                        <form action="/admin/delete-product" method="POST">
                            <button type="submit">Delete</button>
                        </form>
   
                    </div>

                </div>
            <% } %>
        <% } else { %>
            <h1>No Product Found!</h1>
        <% } %>
    </main>
    
</body>
<%- include('../includes/end.ejs') %>